@font-face {
    font-family: Monaco;
    src: url('/fonts/Monaco.ttf');
}

body{
    font-family: 'Montserrat';
}

main{
  min-height: 80vh;
}

nav{
    padding: 20px!important;
}

#website {
    height: 100%;
}

.navbar-brand{
    font-family: 'Lobster';
}

#chartdiv {
    width: 100%;
    height: 500px;
}

.card{
    border-radius: 0;
}

.dropdown-menu{
    padding: 0;
    margin: 0;
}

.alert{
    border-radius: 0!important;
}

.container-fluid{
    padding: 0;
    margin: 0;

    .row{
        margin: 0;
    }

    .col-md-12{
        padding: 0;
    }
}

.welcome{
    background-image: url('/images/background.jpeg');
    min-height: 80vh;
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 60px;

    .welcome-text{
        width: 70%;
    }

    h1{
        font-weight: 900;
        font-family: 'Raleway';
        line-height: 60px;
    }
}

.nav-item{
    a{
        opacity: 1!important;
    }
}

.link{
    color: blue!important;
    :hover{
        color: #3f51b5;
    }
}

.repos{
    height: 300px;
    overflow-y: scroll;
}

.dropdown-menu{
    min-width: 100%;
}

.notification{
    color: orangered;
}