body{
    font-family: 'Roboto';
}

main{
  min-height: 80vh;
}

#website {
    height: 100%;
}

.navbar-brand{
    font-family: 'Playfair Display';
}

#chartdiv {
    width: 100%;
    height: 500px;
}

.card{
    border-radius: 0;
}

.dropdown-menu{
    padding: 0;
    margin: 0;
}

.alert{
    border-radius: 0!important;
}

.container-fluid{
    padding: 0;
    margin: 0;

    .row{
        margin: 0;
    }

    .col-md-12{
        padding: 0;
    }
}

.welcome{
    background-image: url('/images/background2.jpg');
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 60px;

    h1{
        font-size: 4rem;
    }

    h2{
        font-weight: 600;
    }
}

nav{
    height: 80px!important;
}

.social-buttons{
    a{
        width: 50px;
        text-align: center;
    }
}

.nav-item{
    a{
        opacity: 1!important;
        width: 100px;
    }
}

.link{
    color: blue!important;
    :hover{
        color: #3f51b5;
    }
}

.repos{
    height: 300px;
    overflow-y: scroll;
}

.dropdown-menu{
    min-width: 100%;
}

.notification{
    color: orangered;
}